[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
jupyterlab = "<=4.0.0"
matplotlib = "*"
ipywidgets = "*"
scipy = "*"
seaborn = "*"
torch = "*"
nltk = "*"
openai = "*"
pyspark = "*"
graphframes = "*"
polars = "*"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.11"
